/**
 * 	Author Daniela Depablos
 *  style color for the steps icon
 * 
 */
.user-status{
.green {
  color: #00ff00;
}

.yellow {
  color: #ffff00;
}

.red {
  color: #ff3300;
}

.user-header-title {
  
  color: black;
  font-size: 18px;
  text-align: justify;
  width: 100%;
  text-indent: .5cm;
}


.popover-content {
   word-break: break-word;
}
}