<div class="modal-dialog" id="modalChangePwd">
    <div class="modal-content">
        <div class="modal-header">
            <button id="closeChngPwd" type="button" class="close"
                     aria-hidden="true">&times;</button>
            <h4 class="modal-title"><%= polyglot.t('changePasswordTitle') %></h4>
        </div>
        <form id="changPwd" method="post">
        <div class="modal-body">
			
			 <div class="form-group">
						    <label for="password"><%= polyglot.t('oldPasswordLabel') %></label>
						    <input maxlength="40" type="password" class="form-control" id="oldPassword" placeholder="<%= polyglot.t('usermanagementPasswordPlaceHolder') %>"  required>
						    <small id="passwordRequiredOld" hidden="hidden" class="form-text text-muted"><%= polyglot.t('passwordRequired') %></small>
						    <small id="passwordInvalidOld" hidden="hidden" class="form-text text-muted"><%= polyglot.t('passwordInvalid') %></small>
						    <small id="passwordOldWrong" hidden="hidden" class="form-text text-muted"><%= polyglot.t('OldPwdWrong') %></small>
			 </div>
			 <div class="form-group">
						    <label for="password"><%= polyglot.t('newPassword') %></label>
						    <input maxlength="40" type="password" class="form-control" id="newPassword" placeholder="<%= polyglot.t('usermanagementPasswordPlaceHolder') %>" required>
						    <small id="passwordRequiredNw" hidden="hidden" class="form-text text-muted"><%= polyglot.t('passwordRequired') %></small>
						    <small id="passwordInvalidNw" hidden="hidden" class="form-text text-muted"><%= polyglot.t('passwordInvalid') %></small>
						    <small id="passwordEqualNew" hidden="hidden" class="form-text text-muted"><%= polyglot.t('passwordEqual') %></small>
						    
			 </div>
			 <div class="form-group">
						    <label for="password"><%= polyglot.t('newPasswordConfirm') %></label>
						    <input maxlength="40" type="password" class="form-control" id="newPasswordConfirm" placeholder="<%= polyglot.t('usermanagementPasswordPlaceHolder') %>"  required>
						    <small id="passwordRequiredConf" hidden="hidden" class="form-text text-muted"><%= polyglot.t('passwordRequired') %></small>
						    <small id="passwordInvalidConf" hidden="hidden" class="form-text text-muted"><%= polyglot.t('passwordInvalid') %></small>
						    <small id="passwordNotEquals" hidden="hidden" class="form-text text-muted"><%= polyglot.t('pwdNotEquals') %></small>
						    <small id="passwordEqualConf" hidden="hidden" class="form-text text-muted"><%= polyglot.t('passwordEqual') %></small>
			 </div>
			
        </div>
		<div class="modal-footer">
			     <button id="cancelChng" type="button" class="btn btn-danger pull-right">&nbsp;<%= polyglot.t('fieldWorkerCancel') %></button>
			     <button id="saveChng" type="submit" class="btn btn-success pull-right"><i class="glyphicon glyphicon-floppy-saved" ></i>&nbsp;<%= polyglot.t('usermanagementSave') %></button>
			 </form>
			</div>
    </div><!-- /.modal-content -->
    	 
</div><!-- /.modal-dialog -->
